@font-face {
    font-family: 'TitilliumText22LRegular';
    src: url('titillium/TitilliumText22L003-webfont.eot');
    src: url('titillium/TitilliumText22L003-webfont.eot?#iefix') format('embedded-opentype'),
         url('titillium/TitilliumText22L003-webfont.woff') format('woff'),
         url('titillium/TitilliumText22L003-webfont.ttf') format('truetype'),
         url('titillium/TitilliumText22L003-webfont.svg#TitilliumText22LRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'YanoneKaffeesatzLight';
    src: url('kaffeesatz/YanoneKaffeesatz-Light-webfont.eot');
    src: url('kaffeesatz/YanoneKaffeesatz-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('kaffeesatz/YanoneKaffeesatz-Light-webfont.woff') format('woff'),
         url('kaffeesatz/YanoneKaffeesatz-Light-webfont.ttf') format('truetype'),
         url('kaffeesatz/YanoneKaffeesatz-Light-webfont.svg#YanoneKaffeesatzLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'YanoneKaffeesatzBold';
    src: url('kaffeesatz/YanoneKaffeesatz-Bold-webfont.eot');
    src: url('kaffeesatz/YanoneKaffeesatz-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('kaffeesatz/YanoneKaffeesatz-Bold-webfont.woff') format('woff'),
         url('kaffeesatz/YanoneKaffeesatz-Bold-webfont.ttf') format('truetype'),
         url('kaffeesatz/YanoneKaffeesatz-Bold-webfont.svg#YanoneKaffeesatzBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LektonRegular';
    src: url('lekton/Lekton-Regular-webfont.eot');
    src: url('lekton/Lekton-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('lekton/Lekton-Regular-webfont.woff') format('woff'),
         url('lekton/Lekton-Regular-webfont.ttf') format('truetype'),
         url('lekton/Lekton-Regular-webfont.svg#LektonRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, p, th, td, input, button, li, dl dt, dl dd, label,
.topbar, .topbar input, .topbar li {
	font-family: 'TitilliumText22LRegular';
	font-size: 12pt;
	line-height: 1.5;
}

::-webkit-input-placeholder {
	font-family: 'TitilliumText22LRegular';
}

input:-moz-placeholder {
	font-family: 'TitilliumText22LRegular';
}

pre, code {
	font-family: 'LektonRegular';
	font-size: 12pt;
	line-height: 1.25;
}

body {
	padding-top: 50px;
	margin: 0 auto;
}

dl dd {
	margin-left: 0;
}

.info-list dt {
	font-weight: normal;
}

.topbar .brand {
	font-family: 'YanoneKaffeesatzBold';
	font-size: 150%;
	line-height: .75;
	letter-spacing: 1px;
	margin-top: 2px;
}

.brand .fo {
	color: orange;
}

h1, h2, h3 {
	font-family: 'YanoneKaffeesatzLight';
}

h1 {
	text-align: center;
}

h3 {
	font-size: 24px;
	line-height: 36px;
}

li {
	color: inherit;
}

ul {
	margin-bottom: 9px;
}

abbr {
	border-bottom: 1px dotted #303030;
}

.nav img {
	vertical-align: -2px;
}

.services a,
.btn {
	display: inline-block;
	font-size: inherit;
}

.service th,
.service td {
	margin: 0;
	padding: 0;
}

.service .favicon {
	margin-left: 22px;
}

.service th h3 {
	background: left 11px no-repeat;
}

.authorized th h3 {
	background-image: url('bullet_green.png');
}

.expires {
	font-weight: normal;
}

.expired .expires, .error .expires {
	color: #E00040;
}

.expired th h3,
.error th h3 {
	background-image: url('bullet_red.png');
}

.expiring .expires {
	color: #E09000;
}

.expiring th h3 {
	background-image: url('bullet_yellow.png');
}

.steps li {
	margin: 9px 0 9px -25px;
}

.info-list {
	text-align: right;
	position: relative;
}

.info-list dt {
	float:left;
	padding-right: .5em;
}

.info-list dd {
	padding-left: .5em;
}

.terms li {
	margin-left: -25px;
}

.signup legend {
	width: 100%;
	padding: 0;
	text-align: center;
}

.signup input[type="checkbox"] {
	margin-top: 6px;
}

form {
	margin: 0;
}

form p {
	position: relative;
}

form .btn {
	font-size: 12pt;
}

form .error {
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -16px;
	margin-left: 6px;
	white-space: nowrap;
	padding: 7px 8px;
	font-weight: normal;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid;
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

form .error {
	background-color: #C43C35;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
}

form .error::before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	top: 50%;
	left: -7px;
	margin-top: -6px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #c43c35;
}

.services {
	padding-right: 1em;
}

.service {
	margin-top: .5em;
	margin-bottom: .5em;
}

.favicon {
	width: 16px;
	height: 16px;
}

h2 .favicon,
h3 .favicon {
	margin-right: 8px;
}

h2 .btn {
	margin-top: .35em;
}

.modal-header {
	text-align: center;
}

.modal-body {
	max-height: 25em;
	overflow: auto;
}

.permissions {
	list-style: none;
	margin-left: 0;
}

.permissions li {
	margin-left: 1.5em;
	text-indent: -1.5em;
}

.permissions label, .consent label {
	text-align: left;
	padding: 0;
	width: auto;
	float: none;
}

.services th,
.services td {
	border-width: 0;
}

.category th,
.category td {
	border-top-width: 1px;
}

td a img {
	vertical-align: -3px;
}

.permissions input {
	vertical-align: -2px;
	width: 1.5em;
}

.service a {
	margin: .5em;
}

.service h3 a {
	margin: 0;
}

p.footer {
	text-align: center;
	margin-top: 9px;
}

p.footer .g {
	vertical-align: -7px;
}

.container {
	position: relative;
}

ul.flashes {
	list-style: none;
	margin-top: -.7em;
	margin-left: 0;
	text-align: center;
	position: absolute;
	left: -1px;
}

ul.flashes li {
	padding: .25em 0;
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#fbb450), to(#f89406));
	background-image: -moz-linear-gradient(top, #fbb450, #f89406);
	background-image: -ms-linear-gradient(top, #fbb450, #f89406);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbb450), color-stop(100%, #f89406));
	background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
	background-image: -o-linear-gradient(top, #fbb450, #f89406);
	background-image: linear-gradient(top, #fbb450, #f89406);
	-webkit-border-radius: 0 0 1em 1em;
	-moz-border-radius: 0 0 1em 1em;
	border-radius: 0 0 1em 1em;
}

ul.flashes .error {
	background-color: #c43c35;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
}

ul.flashes .success {
	background-color: #5bb75b;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#51a351));
	background-image: -moz-linear-gradient(top, #62c462, #51a351);
	background-image: -ms-linear-gradient(top, #62c462, #51a351);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #51a351));
	background-image: -webkit-linear-gradient(top, #62c462, #51a351);
	background-image: -o-linear-gradient(top, #62c462, #51a351);
	background-image: linear-gradient(top, #62c462, #51a351);
}

