{% macro nav(section) %}
    <a class="brand" href="{{ url_for('index') }}"><span class="fo">fo</span>auth.org</a>
    <ul class="nav">
        <li{% if section == 'index' %} class="active"{% endif %}><a href="/">Home</a></li>
        <li{% if section == 'services' %} class="active"{% endif %}><a href="/services/">Services</a></li>
        <li{% if section == 'about' %} class="active"{% endif %}><a href="/about/">About</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="https://github.com/foauth/foauth.org">Source</a></li>
        <li>
            <a href="http://gum.co/rWgD">
                <img src="https://getfavicon.appspot.com/http://gumroad.com/?defaulticon=https%3A//www.google.com/s2/favicons%3Fdomain%3Dgumroad.com" class="favicon">
                Donate
            </a>
        </li>
    </ul>
    <div class="pull-right"><ul class="nav">
        {% if current_user.is_authenticated() %}
        <li{% if section == 'password' %} class="active"{% endif %}><a href="{{ url_for('password') }}">Change password</a></li>
        <li><a href="{{ url_for('logout') }}">Log out</a></li>
        {% else %}
        <li{% if section == 'login' %} class="active"{% endif %}>
            <a href="{{ url_for('login') }}">
                <img src="{{ url_for('static', filename='key.png') }}">
                Log in
            </a>
        </li>
        {% endif %}
    </ul></div>
{% endmacro %}

<!doctype html>
<html>
	<head>
{% block head %}
		<title>foauth.org: OAuth for one</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="sortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
{% endblock %}
	</head>
	<body>
		<div class="topbar">
			<div class="fill">
				<div class="container">
					{% block nav %}{{ nav('index') }}{% endblock %}
				</div>
			</div>
		</div>
		<div class="container">
		{% with messages = get_flashed_messages(with_categories=True) %}
			{% if messages %}
				<ul class="flashes span16">
				{% for category, message in messages %}
					<li class="{{ category|safe }}">{{ message|safe }}</li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
			{% block content %}{% endblock %}
		</div>
		<p class="footer">Brought to you by <img class="g" src="{{ url_for('static', filename='g.png') }}" width="24" height="24"> <a href="https://github.com/gulopine">Marty Alchin</a> with sponsorship from <a href="http://heroku.com/">Heroku</a> and <a href="http://runscope.com/">Runscope</a></p>
	</body>
</html>
