{% extends 'base.html' %}

{% block content %}
<div class="content">
	<div class="page-header">
		<h1>foauth.org: OAuth for one</h1>
	</div>
	<div class="row">
		<div class="span16">
			<p><a href="http://oauth.net/">OAuth</a> is a great idea for interaction between big sites with lots of users. But, as one of those users, it's a pretty terrible way to get at your own data. That's where foauth.org comes in, giving you access to these services in three easy steps:</p>
		</div>
	</div>
	<ol class="row">
		<li class="span8 signup">
			<h2>Sign up with foauth.org</h2>
			{% if current_user.is_authenticated() %}
			<p>Looks like you've already signed up. Well done!</p>
			{% else %}
			<p>This is the entire form. No joke.</p>
			<form action="{{ url_for('signup') }}" method="post" class="row">
				{{ form.csrf_token }}
				<p class="span8">
					{% if form.errors.email %}
					<strong class="error">{{ form.errors.email.0|safe }}</strong>
					{% endif %}
					<input class="span8" type="email" id="signup_email" name="email" {% if form.data.email %}value="{{ form.data.email }}"{% endif %} placeholder="{{ form.email.label.text }}">
				</p>
				<p class="span4">
					<input class="span4" type="password" id="signup_password" name="password" placeholder="{{ form.password.label.text }}">
				</p>
				<p class="span4">
					{% if form.errors.password %}
					<strong class="error">{{ form.errors.password.0|safe }}</strong>
					{% endif %}
					<input class="span4" type="password" id="signup_retype" name="retype" placeholder="{{ form.retype.label.text }}">
				</p>
				<p class="span8 consent">
					{% if form.errors.consent %}
					<strong class="error">{{ form.errors.consent.0|safe }}</strong>
					{% endif %}
					<label>
						<input type="checkbox" name="consent" {% if form.data.consent %}checked{% endif %}>
						Accept the <a href="{{ url_for('terms') }}">terms of service</a>.
					</label>
					Don't worry, they're really simple.
				</p>
				<button type="submit" class="span8 btn primary">Sign up</button>
			</form>
			{% endif %}
		</li>
		<li class="span8">
			<h2>Activate your services</h2>
			{% if current_user.is_authenticated() %}
			<p>You've already authorized {{ current_user.keys.count() }} service{% if current_user.keys.count() != 1 %}s{% endif %}, why not <a href="{{ url_for('services') }}">add more</a>?</p>
			{% else %}
			<p>This only takes a couple clicks if you're already logged in with them. You can connect up to <a href="{{ url_for('services') }}">{{ services|length }} different services</a> so far:</p>
			<p>
			{% for service in services %}
				<img class="favicon" src="{{ service.favicon_url }}" alt="{{ service.name }}" title="{{ service.name }}" style="margin:2px">
			{% endfor %}
			</p>
			{% endif %}
		</li>
		<li class="span16">
			<h2>Access your own data</h2>
			<p>Write your own programs to access your data, using HTTP Basic authentication, which is much easier to deal with. Most programming languages have built-in support for it, and we don't even care which one you use. Sure, <a href="{{ url_for('about') }}">we love Python</a>, but it's okay if you don't.</p>
			<pre>>>> import <a href="https://github.com/kennethreitz/requests">requests</a>
>>> auth = 'email@example.com', 'password'
>>> requests.post('http{% if request.is_secure %}s{% endif %}://{{ request.host }}/<a href="https://getpocket.com/developer/docs/v3/add">getpocket.com/v3/add</a>', data={'title': '<a href="https://foauth.org/">foauth.org</a>'}, auth=auth)
>>> r = requests.post('http{% if request.is_secure %}s{% endif %}://{{ request.host }}/<a href="https://getpocket.com/developer/docs/v3/retrieve">getpocket.com/v3/get</a>', data={'count': 1}, auth=auth)
>>> r.json()['list'].values()[0]['resolved_url']
'<a href="https://foauth.org/">https://foauth.org/</a>'
		</li>
	</ol>
</div>
{% endblock %}
