{% extends 'base.html' %}

{% block content %}
<div class="content">
	<div class="page-header">
		<h1>foauth.org makes OAuth optional</h1>
	</div>
	<div class="row">
		<div class="span16">
			<p><a href="http://oauth.net/">OAuth</a> is a great idea for interaction between big sites with lots of users. But, as one of those users, it&rsquo;s a pretty terrible way to get at your own data. That&rsquo;s where foauth.org comes in, giving you access to these services in three easy steps:</p>
		</div>
	</div>
	<ol class="row">
		<li class="span8 signup">
			<h2>Sign up with foauth.org.</h2>
			<p>This is the entire form. No joke.</p>
			<form action="{{ url_for('signup') }}" method="post" class="row">
				{{ signup.csrf_token }}
				<p class="span8">
					{% if signup.errors.email %}
					<strong class="error">{{ signup.errors.email.0|safe }}</strong>
					{% endif %}
					<input class="span8" type="text" id="signup_email" name="email" {% if signup.data.email %}value="{{ signup.data.email }}"{% endif %} placeholder="Email address">
				</p>
				<p class="span4">
					<input class="span4" type="password" id="signup_password" name="password" placeholder="Password">
				</p>
				<p class="span4">
					{% if signup.errors.password %}
					<strong class="error">{{ signup.errors.password.0|safe }}</strong>
					{% endif %}
					<input class="span4" type="password" id="signup_retype" name="retype" placeholder="Password (again)">
				</p>
				<p class="span8 consent">
					{% if signup.errors.consent %}
					<strong class="error">{{ signup.errors.consent.0|safe }}</strong>
					{% endif %}
					<label>
						<input type="checkbox" name="consent" {% if signup.data.consent %}checked{% endif %}>
						Accept the <a href="{{ url_for('terms') }}">terms of service</a>.
					</label>
					Don&rsquo;t worry, they&rsquo;re really simple.
				</p>
				<button type="submit" class="span8 btn primary">Sign up</button>
			</form>
		</li>
		<li class="span8">
			<h2>Activate your services.</h2>
			<p>This only takes a couple clicks if you&rsquo;re already logged in with them. Here are just a few of the <a href="{{ url_for('services') }}">services we support</a>.</p>
			<table class="services condensed-table">
				<tr>
					<td><img class="favicon" src="https://twitter.com/phoenix/favicon.ico">Twitter</td>
					<td><img class="favicon" src="https://s-static.ak.facebook.com/rsrc.php/yi/r/q9U99v3_saj.ico">Facebook</td>
					<td><img class="favicon" src="http://www.meetup.com/favicon.ico">Meetup</td>
				</tr>
				<tr>
					<td><img class="favicon" src="http://instagram.com/static/images/favicon.ico">Instagram</td>
					<td><img class="favicon" src="http://l.yimg.com/g/favicon.ico">Flickr</td>
					<td><img class="favicon" src="http://vimeo.com/favicon.ico">Vimeo</td>
				</tr>
				<tr>
					<td><img class="favicon" src="https://github.com/favicon.ico">GitHub</td>
					<td><img class="favicon" src="https://dwz7u9t8u8usb.cloudfront.net/m/36a0d507acd2/img/logo_new.png">Bitbucket</td>
					<td><img class="favicon" src="https://www.dropbox.com/static/20659/images/favicon.ico">Dropbox</td>
				</tr>
				<tr>
					<td><img class="favicon" src="http://www.google.com/favicon.ico">Google</td>
					<td><img class="favicon" src="http://www.yahoo.com/favicon.ico">Yahoo!</td>
					<td><img class="favicon" src="https://secure.shared.live.com/~Live.SiteContent.ID/~16.2.8/~/~/~/~/images/favicon.ico">LiveConnect</td>
				</tr>
			</table>
		</li>
		<li class="span16">
			<h2>Access your own data.</h2>
			<p>Write your own programs to access your data, using HTTP Basic authen&shy;tication, which is much easier to deal with. Most program&shy;ming languages have built-in support for it, and we don&rsquo;t even care which one you use. Sure, <a href="{{ url_for('about') }}">we love Python</a>, but it&rsquo;s okay if you don&rsquo;t.</p>
			<pre>>>> import json
>>> import <a href="https://github.com/kennethreitz/requests">requests</a>
>>> auth = 'email@example.com', 'password'
>>> data = {'status': "Just signed up with http://foauth.org/ and it's awesome! Thanks <a href="https://twitter.com/gulopine">@Gulopine</a>!"}
>>> requests.post('http://foauth.org/<a href="https://dev.twitter.com/docs/api/1/post/statuses/update">api.twitter.com/1/statuses/update.json</a>', data=data, auth=auth)
>>> r = requests.get('http://foauth.org/<a href="https://dev.twitter.com/docs/api/1/get/statuses/home_timeline">api.twitter.com/1/statuses/home_timeline.json</a>', auth=auth)
>>> json.loads(r.content)[0]['text']
"Just signed up with http://foauth.org/ and it's awesome! Thanks <a href="https://twitter.com/gulopine">@Gulopine</a>!"</pre>
		</li>
	</ul>
</div>
{% endblock %}
