{% extends 'base.html' %}

{% block nav %}{{ nav('password') }}{% endblock %}

{% block content %}
<div class="content">
	<div class="page-header">
		<h1>Change your password</h1>
	</div>
	<div class="row">
		<form action="{{ url_for('password') }}" method="post" class="span8">
			{{ form.csrf_token }}
			<p class="span8">
				{% if form.errors.password %}
				<strong class="error">{{ form.errors.password.0|safe }}</strong>
				{% endif %}
				<input class="span8" type="password" id="password" name="password" placeholder="{{ form.password.label.text }}">
			</p>
			<p class="span8">
				{% if form.errors.retype %}
				<strong class="error">{{ form.errors.retype.0|safe }}</strong>
				{% endif %}
				<input class="span8" type="password" id="retype" name="retype" placeholder="{{ form.retype.label.text }}">
			</p>
			<button type="submit" class="span8 btn primary">Set password</button>
		</form>
		<div class=" span8">
			<p>If you've forgotten your password or maybe one of your scripts fell into the wrong hands, you can simply set a new one here.</p>
		</div>
	</div>
</div>
{% endblock %}
