{% extends 'base.html' %}
{% import 'nav.html' as nav %}

{% block nav %}{{ nav.select('services') }}{% endblock %}

{% block content %}
			<div class="content">
				<div class="page-header">
					<h1>{{ services|count }} Supported Services</h1>
				</div>
				<p>Use the key on the right to authorize a service, or the refresh icon to re-authorize it. We&rsquo;ll automatically re-authorize whenever we can, but you might have to manually re-authorize some services. If you use a service that&rsquo;s not on this list, feel free to <a href="https://github.com/gulopine/foauth.org/issues">request it</a>.</p>
				<table class="services condensed-table">
					<col><col><col>
					<col width="27">
					<col width="27">
					<tbody>
{% for alias, service in services %}
{% if current_user.is_authenticated() %}
	{% set key = current_user.key_for_service(alias) %}
{% else %}
	{% set key = None %}
{% endif %}
						<tr class="{% if key %}active{% else %}inactive{% endif %}" id="{{ alias }}">
							<th scope="row">
								<img class="favicon" src="{{ service.favicon_url }}">
								<a href="{{ service.provider_url }}">{{ service.name }}</a>
							</th>
							<td>{% if service.available_permissions|count > 1 %}<abbr title="{% for scope, perm in service.available_permissions %}{{ perm }}
{% endfor %}">{{ service.available_permissions|count }} permissions</abbr>{% else %}{{ service.available_permissions[0][1] }}{% endif %}</td>
							<td>
							{% if key and key.expires %}
								{% if key.refresh_token %}Refreshes{% else %}Expires{% endif %}
								on {{ key.expires.strftime("%Y-%m-%d") }}
							{% endif %}
							<td>
							{% if current_user.is_authenticated() %}
								{% if key %}
									{% set icon = 'arrow_refresh.png' %}
									{% set title = 'Re-authorize' %}
								{% else %}
									{% set icon = 'key.png' %}
									{% set title = 'Authorize' %}
								{% endif %}
								<a href="{{ url_for('authorize', alias=alias) }}"><img src="{{ url_for('static', filename=icon) }}" alt="{{ title }}" title="{{ title }}"></a>
							{% endif %}
							</td>
							<td>
								<a href="{{ service.docs_url }}"><img src="{{ url_for('static', filename='book.png') }}" alt="Documentation" title="Documentation"></a>
							</td>
						</tr>
{% endfor %}
					</tbody>
				</table>
			</div>
{% endblock %}
