{% extends 'base.html' %}

{% block nav %}{{ nav('services') }}{% endblock %}

{% block content %}
			<div class="content">
				<div class="page-header">
					<h1>{{ services|count }} Supported Services</h1>
				</div>
				<p>{% if current_user.is_authenticated() %} Use the key on the right to authorize a service, or the refresh icon to re-authorize it. We&rsquo;ll automatically re-authorize whenever we can, but you might have to manually re-authorize some services. {% endif %}If you use a service that&rsquo;s not on this list, feel free to <a href="https://github.com/gulopine/foauth.org/issues">request it</a>.</p>
				{% if current_user.is_authenticated() %}<p>If one of your scripts fell into the wrong hands, you can <a href="{{ url_for('password') }}">change your password</a>.</p>{% endif %}
				<div class="services container">
{% for row in services|batch(2) %}
					<div class="row">
{% for alias, service in row %}
{% if current_user.is_authenticated() %}
	{% set key = current_user.key_for_service(alias) %}
{% else %}
	{% set key = None %}
{% endif %}
						<div class="span6 service {% if loop.first %}offset1{% else %}offset2{% endif %} {% if key %}active{% endif %}">
							<h2>
								{{ service.name }}
								<span class="expires">
									{% if key %}
										{% if key.expires %}
											{% if key.refresh_token %}will refresh{% else %}{% if key.is_expired() %}expired{% else %}will expire{% endif %}{% endif %}
											on {{ key.expires.strftime("%Y-%m-%d") }}
										{% else %}
											has been authorized
										{% endif %}
									{% endif %}
								</span>
							</h2>
							<p>
								You can {{ service.available_permissions[0][1] }}{% if service.available_permissions|count > 1 %}
								and <abbr title="{% for scope, perm in service.available_permissions[1:] %}{{ perm }}
{% endfor %}">{{ service.available_permissions|count - 1 }} other {% if service.available_permissions|count > 2 %}activities{% else %}activity{% endif %}</abbr>{% endif %}.
							</p>
							<p class="links">
								<a href="{{ service.provider_url }}">Site</a>
								<a href="{{ service.docs_url }}">API Docs</a>
								{% if current_user.is_authenticated() %}
									{% if key %}
										{% set icon = 'arrow_refresh.png' %}
										{% set title = 'Re-authorize' %}
									{% else %}
										{% set icon = 'key.png' %}
										{% set title = 'Authorize' %}
									{% endif %}
									<a href="{{ url_for('authorize', alias=alias) }}" class="btn authorize"><img class="favicon" src="{{ service.favicon_url }}"> {{ title }} {{ service.name }}</a>
								{% endif %}
							</p>
						</div>
{% endfor %}
					</div>
{% endfor %}
				</div>
			</div>
{% endblock %}
